@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat; 
}

div{
   height: 33.33vh;
}

#fahrenheit{
    border-top: 4px solid black;
    border-bottom: 4px solid black;

}
input[type=number]{
    font-family: 'Secular One', sans-serif;
    outline: none;
    width: 100% ;
    height: 100%;
    background-color: wheat;
    color:black;
    font-size: 10em;
    text-align: center;
    border: 0;
}

::-webkit-input-placeholder{
    color: #6c6c6c;
}
::-moz-placeholder{
    color: #6c6c6c;
}
::-ms-input-placeholder{
    color: #6c6c6c;
}